.s-hero {
    padding: 16.4rem 0 10.3rem;
    width: 100%;
    background-image: url(../img/bg-hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 80rem;

    .container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .left-content {
            width: 100%;
            max-width: 78.2rem;

            p {
                margin-top: 1.8rem;
                font-weight: 500;
                font-size: 2.2rem;
                line-height: 140%;
                color: #fff;
            }

            .value {
                margin-top: 4rem;
                display: flex;
                strong {
                    font-weight: 700;
                    font-size: 1.8rem;
                    line-height: 2rem;
                    color: #000;
                    background-color: #fff;
                    padding: 1.8rem 3.6rem;
                }

                a {
                    display: block;
                    padding: 1.8rem 3.6rem;
                    background-color: #3265EA;
                    font-weight: 700;
                    font-size: 1.8rem;
                    line-height: 2rem;
                }
            }
        }

        .right-content {
            position: relative;
            top: 9.7rem;
            width: 100%;
            max-width: 44.3rem;

            p {
                font-weight: 700;
                font-size: 1.8rem;
                line-height: 2rem;
                color: #fff;
                margin-bottom: 2.3rem;
            }
            .trailer {
                border: 0.4rem solid #3265EA;
                position: relative;
                margin-bottom: 4.5rem;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                .play-icon {
                    position: absolute;
                    bottom: 2rem;
                    left: 3.2rem;
                }
            }

            .age-group {
                width: 100%;
                max-width: 33.6rem;
                display: flex;
                align-items: center;
                
                span {
                    margin-left: 1.4rem;
                    font-size: 1.6rem;
                    line-height: 1.7rem;
                }
            }
        }
    }

    @media(max-width: 1200px) {
        padding: 8rem 0;
        height: auto;
        background-position-x: 30%;

        .container {
            .left-content {
                max-width: 64rem;
    
                p {
                    font-size: 1.8rem;
                }
            }
    
            .right-content {
                top: 0;
                max-width: 35.3rem;
            }
        }

        
    }

    @media(max-width: 991px) {
        padding: 6rem 0;
        background-size: cover;

        .container {
            flex-direction: column;
            align-items: center;

            .left-content {
                text-align: center;
                margin-bottom: 4rem;

                .value {
                    justify-content: center;
                }
            }

            .right-content {
                text-align: center;

                .trailer {
                    margin-bottom: 3rem;
                }
                .age-group {
                    flex-direction: column;
                    span {
                        margin: 1rem 0 0;
                    }
                }
            }
        }
    }

    @media(max-width: 580px) {
        padding: 4rem 0;

        .container {
            .left-content {
                p {
                    font-size: 1.4rem;
                    max-width: 80%;
                    margin: 0 auto;
                }
                .value {
                    margin-top: 3rem;
                    flex-direction: column;
                }
            }
            .right-content {
                max-width: 31rem;

                .age-group {
                    span {
                        line-height: 2.4rem;
                    }
                }
            }
        }
    }
}

.s-general-info {
    background-color: #090A0A;

    ul {
        display: flex;
        padding: 6.1rem 0 5rem;
        gap: 72px;


        li {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                font-size: 1.6rem;
            }
        }
    }

    @media(max-width: 1200px) {
        padding: 4rem 0;
        ul {
            flex-wrap: wrap;
            gap: 3rem 0;
            li {
                width: 33.3%;
            }
        }
    }

    @media(max-width: 991px) {
        padding: 1rem 0;
        ul {
            flex-wrap: wrap;
            gap: 3rem 0;
            li {
                width: 33.3%;
            }
        }
    }
    
    @media(max-width: 560px) {
        padding: 1rem 0;

        ul {
            flex-wrap: wrap;
            gap: 3rem 0;
            li {
                width: 50%;
                text-align: center;
                span {
                    max-width: 14.5rem;
                }
            }
        }
    }
}

.s-story {
    background: url("../img/bg-story.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 89.9rem;

    .container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-top: 16rem;
        .left-content {
            width: 100%;
            max-width: 62.9rem;

            .subtitle {
                margin-bottom: 2.8rem;
            }

            .story-info {
                margin-bottom: 5.6rem;
                p {
                    margin-top: 2.4rem;
                }
            }

            .publisher {
                display: flex;
                align-items: center;
                gap: 4.6rem;
                max-width: 50rem;

                span {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 160%;
                }
            }
        }

        .right-content {
            position: relative;
            left: 2rem;
            top: 0;
        }
    }

    @media(max-width: 1200px) {
        background-image: none;
        height: auto;

        .container {
            padding: 6rem 0;
            flex-direction: column-reverse;
            align-items: center;

            .right-content {
                left: 0;
                margin-bottom: 6rem;
            }

            .left-content {
                max-width: 100%;
                text-align: center;
                .subtitle {
                    justify-content: center;
                }
                .story-info {
                    h2 {
                        max-width: 75%;
                        margin: 0 auto;
                    }
                }
                .publisher {
                    margin: 0 auto;
                }
            }
        }
    }
    @media(max-width: 991px) {
        .container {
            .left-content {
                .story-info{
                    h2 {
                        max-width: 95%;
                    }
                    p {
                        padding: 0 1rem;
                    }
                }
            }
        }
    }
    @media(max-width: 560px) {
        .container {
            .left-content {
                .story-info {
                    margin-bottom: 6rem;
                    h2 {
                        font-size: 3rem;
                        line-height: 3.2rem;
                    }
                    p {
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                    }
                }
                .publisher {
                    flex-direction: column;
                    gap: 2rem;
                }
            }
        }
    }
}

.s-character {
    background: url("../img/bg-characters.png");
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 21.3rem;
    padding-bottom: 14rem;
    overflow: hidden;

    .container {
        .description {
            display: flex;
            justify-content: space-between;
            .left-content {
                width: 100%;
                max-width: 61.2rem;

                .subtitle {
                    margin-bottom: 2.8rem;
                }
                .text {
                    h2 {
                        margin-bottom: 2.4rem;
                    }
                }
            }
            .right-content {
                display: flex;
                align-items: center;

                .release {
                    img {
                        margin-bottom: 2.2rem;
                    }
                    span {
                        font-size: 1.8rem;
                        line-height: 140%;
                    }
                }
            }
        }
        .slide-character {
            display: none;
        }
    }

    @media(max-width: 1200px) {
        padding: 6rem 0;
    }
    @media(max-width: 991px) {
        .container {
            .description {
                flex-direction: column;
                align-items: center;

                .left-content {
                    max-width: 100%;
                    text-align: center;
                    margin-bottom: 4rem;
                }
            }
        }
    }
    @media(max-width: 560px) {
        padding: 4rem 0;
        .container {
            .description {
                .left-content {
                    .text {
                        h2 {
                            font-size: 3rem;
                            line-height: 3.2rem;
                        }
                        p {
                            font-size: 1.6rem;
                            line-height: 2.4rem;
                        }
                    }
                }
                .right-content {
                    flex-direction: column;

                    .release {
                        span {
                            max-width: 100%;
                            font-size: 1.6rem;
                            line-height: 2.4rem;
                        }
                    }
                }
            }
        }
    }
}